name: Gold Price ETL

on:
  workflow_dispatch: # Allows manual triggering
  schedule:
    # Runs every hour
    - cron: '0 * * * *'

jobs:
  run-etl:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt



      - name: Run ETL script
        run: python main.py

      - name: Commit and push data
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add data/gold_prices.db logs/etl_monitor.log
          # Commit only if there are changes
          git diff --staged --quiet || git commit -m "Update gold price data"
          git push